{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row">
    <div class="span10 offset1">
        <h4>Text #help to 512-942-0915 to get started ... assuming the Twilio account still has some money left in it! </h4>
        <h1>Info about Ebola</h1>
        <p>The 2014 Ebola epidemic is the largest in history, affecting multiple countries in West Africa.
            More info goes here. </p>
        <p>This service uses primarily SMS-based communication to help track, update, and
            co-ordinate patients, health care workers, etc. in the battle against Ebola. EboHub
            helps:
            <ul>
                <li>Provide Ebola-related information to anyone in the population</li>
                <li>Identify potentially infected people</li>
                <li>Reassure uninfected people about symptoms</li>
                <li>Connect infected people with health care workers or centers</li>
                <li>Trace the contacts of infected or potentially infected people</li>
                <li>Manage the cycle of symptoms, quarantine, and isolation</li>
            </ul>
        </p>

        <h3>About The Virus</h3>
        <h3>Symptoms</h3>
        <h3>Progression and Time Line</h3>
        <h3>When is Ebola Infectious?</h3>
        <h3>Treatment</h3>
        <h3>Quarantine vs. Isolation</h3>

    </div>
</div>
{% endblock body %}
