{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row">
    <div class="span10 offset1">
        <h4>Text #help to 512-942-0915 to get started ... assuming the Twilio account still has some money left in it! </h4>

        <h1>Trying It Out</h1>
        <div>Text #help to 512-942-0915 to get started ... assuming the Twilio account still has money left in it! </div>
        <div>You can use the Admin pages to register yourself + phone as Health Care Worker
          <ul>
            <li>Sending "i'm sick" registers anyone as a patient</li>
            <li>If you have more than one phone number, register one as Patient ("i'm sick") and the other as HC Worker (via Admin Pages / HC Worker / Create)</li>
            <ul>
              <li>Register both phones within the same "Chiefdom" (i.e. geographic area)</li>
              <li>Try the different SMS options from each phone and watch the SMS responses and web updates</li>
            </ul>
          </ul>
        </div>
        <h4>Reset the Data Base</h4>
        <p>Having Joe Public directly edit the database via Admin pages can mess up stuff, so you might need to ...</p>
        <ul>
            <li><a href="../reset_db">Reset The Database</a></li>
        </ul>

        <h1>Info about Ebola</h1>
        <p>The 2014 Ebola epidemic is the largest in history, affecting multiple countries in West Africa.
            More info goes here. </p>
        <p>This service uses primarily SMS-based communication to help track, update, and
            co-ordinate patients, health care workers, etc. in the battle against Ebola. EboHub
            helps:
            <ul>
                <li>Provide Ebola-related information to anyone in the population</li>
                <li>Identify potentially infected people</li>
                <li>Reassure uninfected people about symptoms</li>
                <li>Connect infected people with health care workers or centers</li>
                <li>Trace the contacts of infected or potentially infected people</li>
                <li>Manage the cycle of symptoms, quarantine, and isolation</li>
            </ul>
        </p>

        <h3>About The Virus, Symptoms, Progression, Quarantine, etc.</h3>

    </div>
</div>
{% endblock body %}
