
<div class="row">
    <div class="span10 offset1">
        <h1>About EboHub</h1>
        <h4>Text #help to 512-942-0915 to get started ... assuming the Twilio account still has some money left in it! </h4> 
        <p>EboHub is an SMS-based service for an Ebola-striken area with a population using
            primarily feature-phones, not smart-phones. This web site itself is mostly meant
            for administrators rather than general people using smart phones or desktop browsers,
            although it could be quite easily re-purposed for such usage.</p>
        <p>Go to the:
            <ul>
                <li><a href="admin">Admin pages</a></li>
            </ul>
        </p>
    </div>
</div>
