
<div class="row">
  <div class="span10 offset1">
    <h1>About EboHub</h1>
    <p>EboHub is an SMS-based service for an Ebola-striken area with a population using
        primarily feature-phones, not smart-phones. This web site itself, exposed here via
        Admin pages, is mostly meant
        for administrators rather than general people using smart phones or desktop browsers,
        although it could be quite easily re-purposed for such usage.</p>
    <h1>Trying It Out   !!! {{ TW_phone }} </h1>
    <div>Text #help to 512-942-0915 (assuming the Twilio account has money left in it!) </div>
    <div>
      <ul>
        <li>Sending "i'm sick" registers anyone as a Patient</li>
        <li>You can also use the Admin pages to register yourself + phone as Health Care Worker</li>
        <li>If you have more than one phone number, register one as Patient ("i'm sick") and the other as HC Worker (via Admin Pages / HC Worker / Create)</li>
        <ul>
          <li>Register both phones within the same "Chiefdom" (i.e. geographic area)</li>
          <li>Try the different SMS options from each phone and watch the SMS responses and web updates</li>
        </ul>
      </ul>
    </div>
    <p>Go to the:
      <ul>
          <li><a href="admin">Admin pages</a></li>
      </ul>
    </p>
    <h4>Reset the Data Base</h4>
    <p>Having Joe Public directly edit the database via Admin pages can mess up stuff, so you might need to ...</p>
    <ul>
        <li><a href="reset_db">Reset The Database</a></li>
    </ul>
  </div>
</div>
