{% extends 'admin/master.html' %}
{% block body %}
    <h1>SMS Log</h1>
    <ul>
        {% for sms in SMS.select() %}
        <li> {{ sms.__repr__() }} </li>
        {% endfor %}
    </ul>

    <h2> Map with Markers of Confirmed Cases</h2>
    <div>With slightly deeper analysis of SMS messages and more geo-data, different maps can show things like:
        <ul>
            <li>suspects, confirmed, not-quarantined, etc. </li>
            <li>dated points, regions, or paths where public exposure may have occurred.</li>
            <li>risks, based on population density, travel profiles, cultural practices etc.</li>
        </ul>
    </div>
    {{mymap.js}}
    {{mymap.html}}

{% endblock %}
